body {
  margin: 0px;
  padding: 0px;
}



#divContainer {
  display: flex;
  justify-content: center;
  align-content: center;
}



#navbar {
  width: 100vw;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  background-color: rgb(199, 216, 211);
}

#two {
  display: flex;
  width: 600px;
  padding-left: 12px;
  justify-content: space-between;
  font-size: 22px;
}

#nameid {
  margin-top: 26px;
  font-size: 30px;
  margin-left: 20px;
  color: rgb(124, 45, 199);
}

#gihubid {
  border: 4px solid rgb(124, 45, 199);
  border-radius: 20px;
  width: 172px;
  height: 35px;
  padding-top: 7px;
  text-align: center;
  margin: 22px 42px;

}

#git {
  color: rgb(124, 45, 199);
  text-decoration: none;
}



@media (max-width: 768px) {


  #navbar {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }

  #nameid {
    margin: 10px 0px 0px 8px;
    font-size: 17px;
    color: rgb(124, 45, 199);

  }

  #gihubid {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(124, 45, 199);
    border-radius: 10px;
    width: 78px;
    height: 16px;
    margin: 3px 10px 3px 12px;
    padding-top: 0px;
    margin-bottom: 5px;

  }

  #git {
    font-size: 10px;
    color: rgb(124, 45, 199);
    text-decoration: none;
    margin-top: 0px;
    padding-top: 0px;

  }


  #two {
    width: 350px;

  }

  #opl {
    font-size: 12px;
  }

  .uocp {
    margin: 5px 0px 10px 0px;
    padding-right: 12px;

  }
}